<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472730669837-et7fidvliv365cg7ovpgcilieaupopfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472730669837-et7fidvliv365cg7ovpgcilieaupopfc</string>
	<key>API_KEY</key>
	<string>AIzaSyB8FDQxTs-6eT1KzGaxy0TyMTyGMsHWAIE</string>
	<key>GCM_SENDER_ID</key>
	<string>472730669837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartBin</string>
	<key>PROJECT_ID</key>
	<string>esp-scale</string>
	<key>STORAGE_BUCKET</key>
	<string>esp-scale.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472730669837:ios:3a2ea3a70e57a0b4375644</string>
	<key>DATABASE_URL</key>
	<string>https://esp-scale-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>